<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderScript - Home</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (message) { %>
        <script>
          Swal.fire({
            title: 'WanderScript',
            text: "<%= message %>",
            icon: "success",
            confirmButtonColor: '#007bff'
          });
        </script>
        <% } %>
</body>
</html>